{% extends "layout.html" %}
 {% block body %}
<!DOCTYPE html>
<html>
<head>
	<title>about me:)</title>
</head>
<body style="background-color:wheat;">
<center>
<h1 style="font:bold;">Hello And Welcome To My Website </h1>
<p style="font-size:24px;">    i decided to make a website about basketball cause i really like playing basketball and i'm actually a member in a team </br>  
  Everytime i want to know more about specific players or about basketball in general, i face a lot of diffuculties so i wanted to help myself and </br>others through my website</p>
  </center>
  <img src="/home/student/Desktop/tinafinalproject/templates.jpg">
</body>
</html>
{%endblock%}