{% extends "layout.html" %}
 {% block body %}
<!DOCTYPE html>
<html>
<head>
	<title>facts</title>
</head>
<body style="background-color:wheat;">
<center><p style="font-size:24px;">Interesting Facts</p></center>
<h1 style="font-size:18px;"> 1.Naismith was a Canadian-American sports coach asked by Springfield College Massachusetts to come up with a winter sport to keep athletes fit. </br></br>

2. It has recently been claimed that Naismith's original game involved rolling the ball along the ground before throwing it into a basket.</br></br>

3. The idea of passing the ball by throwing it in the air has been attributed to Lambert G Will, a YMCA director in Herkimer, New York.</br></br>

4. The original basketball basket was closed at the bottom; a ladder was needed to recover the ball.</br></br>

5. Repeated bouncing of the ball (dribbling) was illegal in Naismith's original rules.</br></br>

6. The first game under his rules was in 1892.</br></br>

7. Basketball is the national sort of Lithuania and Georgia. It is the summer national sport in Latvia, where ice hockey is the winter national sport.</br></br>

8. Basketball has been in every summer Olympics since 1936. The USA has won 14 times, the USSR twice and Argentina and Yugoslavia once each.</br></br>

9. Hospital emergency rooms in the US in 2011 treated 249,650 cases aged 12-17 for injuries sustained by playing basketball.</h1>
<left><img src="https://s-media-cache-ak0.pinimg.com/736x/c2/de/0e/c2de0e77a7a7c4aabcac2600e74baae0.jpg", width="250" , height="250"></left>
</body>

</html>
{%endblock%}